.card {
    position: relative;
    border-radius: 16px;
    padding: 16px;
    width: 120px;
    height: 200px;
    margin: 16px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 0;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

.vgCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    opacity: 50%;
    filter:
        drop-shadow(0 0 4px #003cff)
        drop-shadow(0 0 8px #003cff);
}

.cardTitle {
    font: bold 1.2rem 'Russo One', sans-serif;
    color: white;

    -webkit-text-stroke: 0.5px black;
}

.cardWrapper {
    position: relative;
    padding: 4px;
    transition: transform 0.25s ease;
}

.cardWrapper:hover {
    transform: scale(1.1);
}